__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.venv/
venv/
*.egg-info/

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

results/*
!results/.gitkeep
output/
saved_models/
saved_models_heavy/
configs/environments/
data.zip
data/processed/*
!data/processed/.gitkeep
*.metadata.json
